.navContainer {
   width: 65%;
   margin: 2% auto;
}

.navItems {
   display: grid;
   grid-template-columns: 1fr auto;
}

.leftContainer {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.leftContainer h1 {
   font-size: 25px;
   text-transform: uppercase;
   font-family: sans-serif;
}

.rightContainer {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.rightContainer h1 {
   font-size: 17px;
   font-weight: 100;
   margin-left: 15px;
   font-family: sans-serif;
}

.firstHeader {
   width: 100%;
   height: 10vh;
   background-color: rgb(27, 5, 228);
}

.firstHeaderItem {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

.firstHeaderItem h1 {
   font-size: 15px;
   color: #fff;
   font-family: sans-serif;
   font-weight: 100;
   animation: blink 1s infinite alternate;
}

.showcase {
   width: 100%;
   margin-top: 2%;
}

.showcase img{
   width: 100%;
   height: 100%;
}

.showcaseBtn {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   margin-top: -40%;
   margin-left: 35%;
}

.showcaseBtn button {
   width: 200px;
   height: 50px;
   margin: 10px;
   border-radius: 10px;
}

.showcaseBtn button:nth-child(1) {
   background-color: rgb(16, 5, 177);
   color: #fff;
   border: none;
   animation: btn1 1s infinite alternate;
}

.showcaseBtn button:nth-child(2) {
   animation: btn1 2s infinite alternate;
}

.aboutusContainer {
   width: 50%;
   margin: 5% auto;
}

.aboutusContainerHeader {
   display: flex;
   justify-content: center;
   align-items: center;
}

.aboutusContainerHeader h1 {
   font-family: sans-serif;
   text-transform: uppercase;
   font-size: 22px;
}

.aboutus {
   display: flex;
   justify-content: center;
   align-items: center;
}

.services {
   width: 65%;
   margin: 1% auto;
}

.servicesItem {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   gap: 20px;
}

.item1 {
   border: 1px solid #ccc;
   padding: 15px;
   border-radius: 10px;
   transition: transform 0.3s ease;
}

.item1:hover {
   transform: scale(1.1);
}


.item1Header {
   display: flex;
   justify-content: center;
   align-items: center;
}

.item1Header h1 {
   font-size: 20px;
   font-family: sans-serif;
   color: rgb(20, 4, 161);
}

.item1Des {
   display: flex;
   justify-content: center;
   align-items: center;
}

.item1Des a {
   font-family: sans-serif;
   text-decoration: none;
   color: #000;
}

.shoeImages {
   width: 50%;
   margin: 4% auto;
}

.imagesContainer {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10px;
}

.imagesContainer img {
   width: 100%;
   border-radius: 10px;
}

.footerContainer {
   width: 100%;
   height: 10vh;
   background-color: #ccc;
}

.footerItem {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   height: 100%;
}

.footerItem h1 {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.footerItem h1:nth-child(1) {
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
   font-family: sans-serif;
}

.footerItem h1:nth-child(2) {
   font-size: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 100;
   font-family: sans-serif;
}

.footerItem h1:nth-child(3) {
   font-size: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 100;
   font-family: sans-serif;
}

.footerItem h1:nth-child(3) a {
   color: rgb(20, 3, 173);
}

@keyframes btn1 {
   from {
      opacity: 100%;
   }

   to {
      opacity: 40%;
   }
}


@keyframes blink {
   from {
      opacity: 100%;
   }

   to {
      opacity: 40%;
   }
}